.info {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  padding: 3rem;

  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}

.img {
  flex: 1;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    width: 100%;
    object-fit: cover;
  }
}
.project-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  & > .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
    & > p {
      font-size: 0.8rem;
      /* padding: 0.4rem 1rem; */
      color: gray;
    }
    & > div,
    & > span {
      text-align: start;
      padding: 0 0.7rem;
    }
  }
}
