.skills {
  height: fit-content;
}

.skills-box {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;

  & > div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.skill {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

  & > .icon {
    flex: 1;
  }

  & > .context {
    flex: 5;
  }
}

.context {
  display: flex;
  align-items: center;
  gap: 1rem;
  & > p {
    margin: 0;
    text-align: start;
    min-width: 6rem;
    flex: 1;
  }
  & > .detail {
    flex: 6;
    /* min-width: 18rem; */
  }
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  word-break: keep-all;
  & > li {
    font-size: 0.8rem;
    text-align: left;
    list-style: disc;
    margin-left: 1rem;
  }
}
